#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #ffffffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #ffffffaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #0E2F38;
  color: #eee;
  padding: 10px;
  text-align: center;
}

.read-the-docs {
  color: #ffffff;
}

.componentBox { border: 1px solid #ffffff; margin: 1em; padding: 1em; text-align: center; background: #ffffff; border-radius: 10px;}
.dark{background:  #000000; color: #efefef;}

.Circle { display: inline-block; width: 10px; height: 10px; border-radius: 50%; }

.NavBar { background: #5cd9ff; color: #5cd9ff; width: 100%; border-radius: 10px; }
.NavBar ul { display: flex; list-style: none; justify-content: center; }
.NavBar ul li a { padding: 1em; color: #eee; text-transform: uppercase; display: inline-block; text-decoration: none; }
.NavBar ul li a.active { font-weight: bold; }

.TaskApp h1 { font-size: 30px; }
.TaskApp ul { list-style: none; }
.TaskApp button { padding: 0.5em; margin: 4px; }
