body {
    font-family: Arial, sans-serif;
    background-color: #a1a0a0;
}

h1 {
    color: #333;
}

p {
    font-size: 18px;
    line-height: 1.5;
    color: #666;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}
